<div class="hero-unit">
  <h1>Host a virtual town-hall!</h1>
  <p>Fanny pack retro before they sold out whatever, food truck consequat fixie twee ea cardigan shoreditch odio. Eu lomo sartorial cardigan.</p>
  <%= link_to "Login through Twitter »", "/auth/twitter", :class => "btn primary large" %>
</div>
