<div class="container">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= render 'form_edit' %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

  <%= link_to "Back", :back %>
</div>
