<% if (app.get("role") == "moderator" ) { %>
  <button class="btn primary startShowBtn" disabled="disabled">Start Event</button>
  <button class="btn stopShowBtn" disabled="disabled">Stop Event</button>
<% } else { %>
  <button class="btn primary joinShowBtn" disabled="disabled">Join Event</button>
  <button class="btn leaveShowBtn" disabled="disabled">Leave Event</button>
<% } %>
