<div class="participant">
  <div class="participant-wrapper">
    <h3>Press <strong>Allow</strong></h3>
    <div class="video">
      <div id="videoContainer"></div>
    </div>
    <div class="buttons">
      <div class="buttons-wrapper">
        <a href="javascript:void(0)" class="red_btn remove">Remove</a>
        <a href="javascript:void(0)" class="grn_btn tostage">Move to Stage</a>
        <a href="javascript:void(0)" class="grn_btn offstage">Move off Stage</a>
      </div>
    </div>
  </div>
</div>
