<%= form_for @subscriber, :remote => true do |f| %>
  <% @subscriber.errors.full_messages.each do |msg| %>
    <div class="alert-message error">
      <p>
        <%= msg %>
      </p>
    </div>
  <% end %>

  <%= f.text_field :email, :placeholder => "your@email.com" %>
  <%= f.submit "Submit", :class => "btnStd small" %>

  <ul class="errors">
  </ul>
<% end %>
