.btnStd {
  cursor: pointer;
  font-size: 16px;
  background: url('/assets/blue-bg2.jpg');
  padding: 10px 14px;
  font-weight: bold;
  @include drop-shadow(0px 2px 0px rgba(0,0,0,.2));
  color: rgba(255,255,255,.8);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  @include radius(5px);
}

.btnStd:hover {
  text-decoration: none;
  color: white;
  background: url('/assets/blue-bg.jpg');
  @include drop-shadow(0px 2px 0px rgba(0,0,0,.1));
}

.stop {
  background: url('/assets/red-bg2.jpg');
}

.stop:hover {
  background: url('/assets/red-bg.jpg');
}

.stop:disabled {
  background: url('/assets/red-bg3.jpg');
}

.go {
  background: url('/assets/green-bg2.jpg');
}

.go:hover {
  background: url('/assets/green-bg.jpg');
}

.go:disabled {
  background: url('/assets/green-bg3.jpg');
}
