.btnStd {
  cursor: pointer;
  font-size: 16px;
  @include background-image(linear-gradient(rgba(0,0,0,.0) 0%, rgba(0,0,0,.2)), url("/assets/blue-bg2.jpg"));
  padding: 10px 14px;
  font-weight: bold;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  @include radius(5px);
}

.btnStd:hover {
  @include background-image(linear-gradient(rgba(0,0,0,.2) 0%, transparent 100%), url("/assets/blue-bg2.jpg"));
  @include transition(none);
  @include box-shadow(inset 0px -1px 1px 0px rgba(255,255,255,.2));
  text-decoration: none;
  color: white;
}

.btnStd.small {
  padding: 8px 14px;
  font-size: 14px;
}

.btnStd:disabled, .btnStd.go:disabled, .btnStd.stop:disabled {
  cursor: default;
  @include background-image(linear-gradient(rgba(180,180,180,1) 0%, rgba(200,200,200,1) 100%));
}

.stop {
  @include background-image(linear-gradient(rgba(0,0,0,.0) 0%, rgba(0,0,0,.2)), url("/assets/red-bg2.jpg"));
}

.stop:hover {
  @include background-image(linear-gradient(rgba(0,0,0,.2) 0%, transparent 100%), url("/assets/red-bg2.jpg"));
}

.go {
  @include background-image(linear-gradient(rgba(0,0,0,.0) 0%, rgba(0,0,0,.2)), url("/assets/green-bg2.jpg"));
}

.go:hover {
  @include background-image(linear-gradient(rgba(0,0,0,.2) 0%, transparent 100%), url("/assets/green-bg2.jpg"));
}

.go:disabled {
  background: url('/assets/green-bg3.jpg');
}

input, textarea {
  background: url('/assets/bg2.jpg');
  font-size: 14px;
  padding: 8px;
  font-weight: 200;
  border: 1px solid rgba(0,0,0,.1);
}

input:focus, textarea:focus {
  border: 1px solid rgba(0,0,0,.1);
  @include box-shadow(0px 0px 6px 2px rgba(0,0,0,.2));
  @include transition(none);
}

a {
  color: #436a7e;
  text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

a:hover {
  color: #335161;
  text-decoration: none;
}
