<div id="login">
  <div id="sociallogin">
    <%= link_to content_tag(:span, "Sign in with Facebook"), signin_path(:facebook), :class => "zocial facebook" %>
    <%= link_to content_tag(:span, "Sign in with Twitter"), signin_path(:twitter), :class => "zocial twitter" %>
  </div>
  a
</div>

