
<!DOCTYPE html>
<html>
<head>
  <title>TownHall140</title>
  <%= javascript_include_tag "application" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>


  <%= yield %>


</body>
</html>
